{
  "$schema": "https://www.schemastore.org/prettierrc.json",
  "endOfLine": "lf",
  "printWidth": 120,
  "semi": false,
  "overrides": [
    {
      "files": [".vscode/*.json"],
      "options": {
        "parser": "jsonc"
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "printWidth": 80
      }
    }
  ]
}
